<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--使用log4j日志-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <!--别名：包下所有类起别名，别名为类名，默认为类名且首字母小写-->
    <typeAliases>
        <package name="cn.maomao.pojo"/>
    </typeAliases>
    <environments default="default">
        <environment id="default">
            <!--    事务管理使用原生JDBC事务    -->
            <transactionManager type="JDBC"></transactionManager>
            <!--使用数据库连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/flower?characterEncoding=utf-8&amp;useSSL=false&amp;serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <!--接口绑定方式，设置包-->
    <mappers>
        <package name="cn.maomao.mapper"/>
    </mappers>
</configuration>